[submodule "thirdparty/llvm-project"]
	path = thirdparty/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "thirdparty/mlir-hlo"]
	path = thirdparty/mlir-hlo
	url = https://github.com/tensorflow/mlir-hlo
